.right {
  background-color: rgb(249, 249, 249);
  max-width: 600px;
  padding: 5px 20px;
  position: absolute;
  top: 20%;
  left: 50%;

  .nameEmail {
    display: flex;
    gap: 100px;

    input {
      line-height: 25px;
      border-radius: 5px;
      border: 1px solid lightgray;
      width: 200px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .qos,
  .pos,
  .clean,
  .exp {
    margin-top: 10px;
    margin-bottom: 10px;

    .check {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 8px;
    }

    input[type="checkbox"] {
      height: 20px;
      width: 20px;
      cursor: pointer;
      accent-color: #ffb90f;
    }

    label {
      cursor: pointer;
    }
  }
}

.left {
  max-width: 600px;
  padding: 5px 20px;
  position: absolute;
  top: 20%;
  left: 10%;

  .heading {
    font-size: 40px;
    font-weight: 500;
  }

  .feedText {
    color: #ffb90f;
  }
}
