.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .left {
    max-width: 600px;
    margin-top: 20px;

    .heading {
      font-size: 40px;
      font-weight: 500;
    }

    .feedText {
      color: #ffb90f;
    }

    img {
      width: 600px;
      height: 455px;
      border-radius: 10px;
    }

    .para {
      color: grey;
    }
  }

  .right {
    background-color: rgb(252, 252, 252);
    max-width: 600px;
    padding: 5px 20px;
    border-radius: 10px;

    .nameEmail {
      display: flex;
      gap: 100px;
      margin-top: 25px;
      margin-bottom: 25px;

      input {
        line-height: 33px;
        border-radius: 5px;
        border: 1px solid rgb(183, 183, 183);
        width: 200px;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 3px;
      }
    }

    .qos,
    .pos,
    .clean,
    .exp {
      margin-top: 25px;
      margin-bottom: 25px;

      .check {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 5px;
      }

      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        cursor: pointer;
        background-color: lightgrey;
      }

      input[type="radio"]:checked {
        background-color: #ffb90f;
      }

      label {
        cursor: pointer;
      }
    }

    button {
      font-family: poppins, sans-serif;
      background-color: #ffb90f;
      height: 40px;
      width: 100px;
      border: none;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 25px;

      &:hover {
        background-color: #ffb90f;
        border: 1px solid #ff8500;
        cursor: pointer;
      }
    }
  }
}
