body {
  background-image: url(https://images.pexels.com/photos/7135050/pexels-photo-7135050.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  font-family: "poppins", "sans-serif";
}
// https://www.toptal.com/designers/subtlepatterns/uploads/restaurant.png https://images.pexels.com/photos/7135058/pexels-photo-7135058.jpeg